{% extends 'base.html.twig' %}

{% block body %}

{% include 'docs/nav.html.twig' with {'page' : 'docs'} %}

  <div class="container">

    <h2 class="page-header">Nuovo documento</h2>

    

  </div>

{% endblock %}
