<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">FUEL</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link {% if page == 'docs' %} active {% endif %}" href="/docs/elenco">Documenti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page == 'blocks' %} active {% endif %}" name="block_list" href="/docs/blocchi/elenco">Blocchi</a>
          </li>
        </ul>

      </div>
    </nav>
